<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="connectDB" connectionString="server=educational.cb2varv9t8vg.us-west-2.rds.amazonaws.com;database=tmp;uid=csci467;pwd=access;" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="connectDB" connectionString="server=192.168.1.210:3306;database=DnD;uid=user1;pwd=access;" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>