.announcement
  max-width: 1200px
  margin: 50px auto
  padding: 40px
  position: relative
  background-color: rgba(255,255,255,0.25)
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1)

h1
  font-size: 3em
  font-family: 'Uncial Antiqua', cursive
  color: $red
  @media screen and (max-width: 1200px)
    font-size: 2em

h2
  font-size: 2em
  font-family: 'Uncial Antiqua', cursive
  margin: 5px
  color: $red
  @media screen and (max-width: 1200px)
    font-size: .5em
